@use "public/styles/lib/functions" as *;
@use "public/styles/lib/mixins" as *;
@use "public/styles/lib/templates" as *;

.CommentsMap {
  padding-right: rem(10);

  &-Comment {
    @include flex($direction: column);
    margin-bottom: rem(20);
    position: relative;
    overflow: hidden;
    padding-bottom: rem(20);
    border-bottom: rem(1) solid var(--SOCIAL--Color-Text-System);
  }
}
