@use 'public/styles/lib/functions' as *;
@use 'public/styles/lib/mixins' as * ;
@use 'public/styles/lib/templates' as * ;

.MediaItem {
  height: rem(250);
  width: rem(250);
  position: relative;
  z-index: 1;
}
