@use "public/styles/lib/functions" as *;
@use "public/styles/lib/mixins" as *;
@import "../../../App/App.module";

.StatisticBox {
  @include flex($direction: column, $align-items: center, $justify: center);
  flex: 1 1 auto;
  height: 100%;

  &-ButtonTextBox {
    @include flex($direction: column, $align-items: center);
    color: var(--SOCIAL--Color-Text-System);
    cursor: pointer;
    margin: rem(15) 0;
  }

  &-ButtonIcon {
    fill: var(--SOCIAL--Color-Text-System);
    margin-right: rem(10);
  }

  &-FriendsPopup {
    background: var(--SOCIAL--Background-Card-Opacity);
    padding: $componentPadding;
    border-radius: $borderRadiusCard;
    overflow-y: auto;
    max-height: 60vh;
  }

  &-UserStatus {
    @include flex($align-items: center);
  }
}
