.dockerignore
/backend/dist
/backend/.env
/backend/node_modules
/node_modules
/frontend

/database
/pgadmin
.env

# Logs
/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/pnpm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/lerna-debug.log*

# OS
/backend/.DS_Store

# Tests
/backend/coverage
/backend/test
/backend/.nyc_output
