.dockerignore
/server/dist
/server/.env
/server/node_modules
/server/coverage
/server/test
/server/logs
/server/*.log
/server/yarn-debug.log*
/server/yarn-error.log*
/server/.DS_Store

/node_modules
/database
/pgadmin
.env

/frontend
