@use 'public/styles/lib/functions' as *;


.Text {
  margin: 0;

  &--size {
    //мин 10rem, максимум 14rem, среднее 4vmax
    &_1 {
      font-size: wSize(8, 4, 12);
      line-height: wSize(12, 7, 16);
    }

    &_2 {
      font-size: wSize(10, 4, 14);
      line-height: wSize(14, 7, 18);
    }

    &_3 {
      font-size: wSize(10, 4, 16);
      line-height: wSize(14, 7, 20);
    }

    &_4 {
      font-size: wSize(10, 4, 18);
      line-height: wSize(15, 5, 35);
    }

    &_5 {
      font-size: wSize(10, 4, 20);
      line-height: wSize(15, 7, 40);
    }

    &_6 {
      font-size: wSize(10, 4, 24);
      line-height: wSize(15, 7, 48);
    }

    &_7 {
      font-size: wSize(15, 4, 32);
      line-height: wSize(20, 5, 52);
    }

    &_8 {
      font-size: wSize(20, 4, 40);
      line-height: wSize(20, 5, 60);
    }
  }

  &--textTransform {

    &_uppercase {
      text-transform: uppercase;
    }
  }

  &--weight {

    &_regular {
      font-weight: var(--FontWeight-Regular);
    }

    &_medium {
      font-weight: var(--FontWeight-Medium);
    }

    &_bold {
      font-weight: var(--FontWeight-Bold);
    }
  }


  &--color {

    &_inherit {
      color: inherit;
    }

    &_title {
      color: var(--Color-Text-Main);
    }

    &_body {
      background: var(--Color-Text--body);
      //background: linear-gradient(
      //    180deg, #5190FE -3%, #E28AFF 95%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent
    }

    &_note {
      color: var(--Color-Text--note);
    }

    &_disabled {
      color: var(--Color-Text--disabled);
    }
  }
}
