@use 'public/styles/lib/functions' as *;
@use 'public/styles/lib/mixins' as * ;
@use 'public/styles/lib/templates' as * ;

.Resume {
  margin: 0 7%;

  &-UserPhotoContainer {
    @include wh(rem(400), rem(350));
    position: relative;
    border-radius: $border-radius-small;
    overflow: hidden;
  }

  &-Experience {
    @include flex($direction: column, $align-items: flex-end);
    width: 50%;
    gap: rem(10);

    &Container {
      @include flex($direction: column);
      width: 100%;
      gap: rem(20);
    }

    &Item {
      display: grid;
      grid-template: [start] "period main" 100% [end] / auto 100%;
      gap: rem(20);
    }

    &List {
      @include flex($direction: column);
      grid-area: main;
      gap: rem(5);
    }
  }

  &-Period {
    @include flex($justify: center);
    grid-area: period;
    height: 100%;
    position: relative;
    white-space: nowrap;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      top: 20%;
      height: 80%;
      width: rem(1);
      background: var(--Color-Line);
    }
  }
}
