@use "public/styles/lib/functions" as *;
@use "public/styles/lib/mixins" as *;
@import "../App/App.module.scss";

.Comments {
  &-Container {
    @include wh(100%, 100%);
    overflow-y: auto;
    overflow-x: hidden;
    padding: rem(8);

    @include media-768 {
      overflow: auto;
      padding: rem(8) 0;
    }
  }
}













