@use "public/styles/lib/functions" as *;
@use "public/styles/lib/mixins" as *;
@use "public/styles/lib/templates" as *;

.CreateChatMessage {
  @include flex($direction: column);
  align-self: center;

  &-FileSmileRow {
    @include flex($justify: flex-end);
    width: 100%;
  }

  &-File, &-Smile {
    margin: rem(5);
    flex: 0 1 auto !important;
    padding: 0 !important;
  }

  &-InputText {
    border: rem(1) solid var(--SOCIAL--Color-Text-System);
  }

  &-InputSubmitRow {
    @include flex($justify: space-between);
    width: 100%;
    margin-top: rem(5);
  }

  &-AddedFilesCount {
    color: var(--SOCIAL--Color-Text-System);
    width: 100%;
  }

  &-Submit {
    color: var(--SOCIAL--Color-Text-System);

    &--active {
      color: var(--SOCIAL--Color-Text-Main);
    }
  }
}
