@use "public/styles/lib/functions" as *;
@use "public/styles/lib/mixins" as *;
@use "public/styles/lib/templates" as *;


.Switch {
  display: flex;
  overflow: hidden;
  border-radius: rem(15);
  width: fit-content;
  margin-left: auto;

  &-RadioInput {
    display: none;

    &:checked + label {
      background: var(--Color-Text-Sub-1);
      color: var(--Color-Status-Offline);
      fill: var(--Color-Status-Offline);
    }
  }

  &-RadioLabel {
    padding: rem(3) rem(14);
    background: var(--Color-Background-Sub1);
    color: var(--Color-Text-Sub-2);
    transition: .3s;

    cursor: pointer;
    &:not(:last-of-type) {
      border-right: rem(1) solid transparent;
    }
  }
}
