@use "public/styles/lib/functions" as *;
@use "public/styles/lib/mixins" as *;

.Switch {

  &-Switcher {
    display: flex;
    overflow: hidden;
    border-radius: rem(15);
    width: fit-content;
    border: rem(1) solid var(--SOCIAL--Color-Text-System);
  }

  &-RadioInput {
    display: none;

    &:checked + label {
      background: var(--SOCIAL--Color-Text-System);
      display: flex;
      transition: .5s;
    }
  }

  &-RadioLabel {
    padding: rem(3) rem(14);
    cursor: pointer;
    transition: .5s;
    color: var(--SOCIAL--Color-Text-Main);

    &:not(:last-of-type) {
      border-right: rem(1) solid transparent;
    }
  }
}
