@use "public/styles/lib/functions" as *;
@use "public/styles/lib/mixins" as *;
@use "public/styles/lib/templates" as *;

.ProfileContainer {
  display: grid;
  grid-template: [header-left] "tabButtons" 10% [header-right]
                 [body-left] "tabContent" auto [body-right] / 100% 100%;
  @extend %section;
  padding-right: 0;
  padding-left: 0;
  position: relative;

  &-Title {
    width: 100%;
    text-align: right;
    color: var(--SOCIAL--Color-Text-Main);
  }

  &-TabButtons {
    grid-area: tabButtons;
    @include flex($align-items: center);
    border-bottom: rem(1) solid var(--SOCIAL--Color-Text-System);

    & > * {
      flex: 1 1 auto;
      text-align: center;
      color: var(--SOCIAL--Color-Text-System);
      cursor: pointer;

      &[data-active="true"] {
        color: var(--SOCIAL--Color-Text-Main);
      }
    }
  }

  &-Container {
    grid-area: tabContent;
    display: grid;
    padding-bottom: rem(5);
    position: relative;
    overflow: hidden;
  }
}
