@use "public/styles/lib/functions" as *;
@use "public/styles/lib/mixins" as *;
@import "../../../App/App.module.scss";

.ProfileContainer {
  display: grid;
  grid-template: [header-left] "tabButtons" 10% [header-right]
                 [body-left] "tabContent" auto [body-right] / 100% 100%;
  @extend %section;
  padding-right: 0;
  padding-left: 0;
  position: relative;

  &-Title {
    width: 100%;
    text-align: right;
    color: var(--SOCIAL--Color-Text-Main);
  }

  &-TabButtons {
    grid-area: tabButtons;
    @include flex($align-items: center);
    border-bottom: rem(1) solid var(--SOCIAL--Color-Text-System);

    & > * {
      flex: 1 1 auto;
      text-align: center;
      color: var(--SOCIAL--Color-Text-System);
      cursor: pointer;

      &[data-active="true"] {
        color: var(--SOCIAL--Color-Text-Main);
      }
    }
  }

  &-Container {
    grid-area: tabContent;
    display: grid;
    grid-template: [content-left] "prev tabButtons next" 100% [content-right] / 7% auto 7%;
    padding-bottom: rem(5);
    position: relative;
    overflow: hidden;
  }

  &-ChangeLayoutButtonsLeft {
    grid-area: prev;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--SOCIAL--Color-Text-System);
    z-index: 2;
  }

  &-ChangeLayoutButtonsRight {
    grid-area: next;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--SOCIAL--Color-Text-System);
    position: relative;
    z-index: 2;
  }

  &-Actions {
    @include flex($align-items: center, $direction: column);
    position: absolute;
    top: 5%;

    & > * {
      margin: rem(5);
    }
  }
}
