@use 'public/styles/lib/functions' as *;
@use 'public/styles/lib/mixins' as * ;
@use 'public/styles/lib/templates' as * ;

.AddNewMessageUsers {
  @include flex();
  width: rem(65);

  & > *:first-child {
    z-index: 2;
    flex-shrink: 0;
  }

  & > *:not(:first-child) {
    transform: translateX(rem(-10));
    z-index: 1;
    flex-shrink: 0;
  }

  & > *:last-child {
    transform: translateX(rem(-20));
    z-index: 0;
    flex-shrink: 0;
  }


  &-UsersPlus {
    @include flex($align-items: center, $justify: center);
    @include wh(rem(30), rem(30));
    border: rem(3) solid var(--Color-Background-App);
    border-radius: 50%;
    overflow: hidden;
    background: var(--Color-Background-Sub);
    color: var(--Color-Text-Sub-2);
  }
}
