@use "public/styles/lib/functions" as *;
@use "public/styles/lib/mixins" as *;
@use "public/styles/lib/templates" as *;

.AlbumCardContainer {
  @include flex($direction: column);
  flex: 1 1 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: clamp(1px, 1vw, rem(15));

  &-Container {
    @include flex($direction: column);
    flex: 1 1 100%;
  }

  &-Title {
    width: 100%;
    text-align: end;
    color: var(--SOCIAL--Color-Text-System);
    margin: rem(10) 0;
  }

  &-Content {
    display: grid;
    grid-auto-columns: revert;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(1px, 1vw, rem(20));
    padding: rem(5);

    &--dndActive {
      @extend %d_n_d__Active
    }

    @include media-1366 {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-1024 {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
