@use "public/styles/lib/functions" as *;
@use "public/styles/lib/mixins" as *;
@use "public/styles/lib/templates" as *;

.DigitalCard {
  @include flex();
  margin: rem(1);

  @include media-1024 {
    flex-direction: column;
    flex: 1 1 100%;
  }

  &-Row {
    @include flex();
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  &-Photo {
    @include flex($justify: center, $align-items: center);
    @include wh(100%, rem(250));
    z-index: 1;

    @include media-768 {
      min-height: 30vh;
    }
  }

  &-ButtonsGroup {
    @include flex($direction: column);
    position: absolute;

    background: var(--SOCIAL--Background-Card-Opacity);
    top: 0;
    right: 0;
    width: fit-content;
    margin-left: rem(5);
    transform: translateX(100%);
    transition: transform .5s;
    z-index: 3;

    &[data-hover="true"] {
      transform: translateX(0%);
      transition: transform .5s;
    }
  }

  &-Button {
    @include flex();
    margin: rem(5);
  }


  &-ButtonText {
    color: var(--SOCIAL--Color-Text-System);
    margin-left: rem(5);
    text-align: end;
  }


  &-TitleRow {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    transition: transform .5s;
    z-index: 3;
    background: var(--SOCIAL--Background-Card-Opacity);
    align-items: center;

    &[data-hover="true"] {
      transform: translateY(0%);
      transition: transform .5s;
    }
  }
}
