@use 'public/styles/lib/functions' as *;
@use 'public/styles/lib/mixins' as * ;

.Application {
  @include wh(100vw, 90vh);
  overflow: hidden;
  align-content: center;
  display: grid;
  column-gap: 1vw;
  position: relative;
  grid-template: [start] "userMenu container"[end] / 40vw auto; //40vw - ширина первой строки auto - ширина второй строки
}
