@use 'public/styles/lib/functions' as *;
@use 'public/styles/lib/mixins' as * ;

$sectionPadding: 0 clamp(0px, 8vw, 15vw);
$componentPadding: clamp(2px, 1vh, rem(15)) clamp(2px, 2vw, rem(15));
$borderRadiusCard: rem(5);


%user_status--dot {
  @include wh(rem(7), rem(7));
  border-radius: 50%;
  margin-left: rem(10);
  position: absolute;
  bottom: rem(-3);
  right: rem(-3);
}

%user_status--online {
  background: var(--SOCIAL--Color-Status-Online);
}

%user_status--offline {
  background: var(--SOCIAL--Color-Status-Offline);
}

%d_n_d__Active {
  border: rem(1) solid #6484c5 !important;
  box-shadow: 0 0 0.4375rem 0.125rem rgb(63 77 105) !important;
  background: #3675b71f !important;
}

%card {
  @include flex($direction: column);
  //border-radius: $borderRadiusCard;
  padding: $componentPadding;
  //box-shadow: 0 0 rem(7) rem(2) var(--SOCIAL--Background-Card);
  background: var(--SOCIAL--Background-Card-Opacity-02);
}

%send_message {
  $this: &;
  color: var(--SOCIAL--Color-Text-Main);
  align-self: end;
  cursor: pointer;
  flex: auto;
  justify-content: flex-end;
}

%send_message--disable {
  cursor: auto;
  color: var(--SOCIAL--Color-Text-System);
}

%date_color {
  display: inline-flex;
  flex: 0 1 auto;
  background: linear-gradient(to right, #ff3865, #ff7978);
  color: var(--SOCIAL--Color-Text-Main);
  text-shadow: 0 0 rem(4) #ffffffb8;
  padding: rem(5) rem(15);
  width: fit-content;
}

%section {
  margin: rem(30);
  box-shadow: rem(1) rem(1) rem(30) rgb(46 51 72);
  padding: rem(20);
}

.Application {
  @include wh(100vw, 100vh);
  align-content: end;
  display: grid;
  column-gap: 1vw;
  position: relative;
  grid-template: [start] "gap gap" 5vh [row2]
                 [row2] "userMenu children" 80vh [row3]            // 80vh - высота строки
                 [row2] "navBar navBar" 15vh [row-end] / 40vw auto; //40vw - ширина первой строки auto - ширина второй строки

  &-Gap {
    grid-area: gap;
    background: var(--SOCIAL--Background-Card-Opacity);
  }
}
