@use "public/styles/lib/functions" as *;
@use "public/styles/lib/mixins" as *;
@use "public/styles/lib/templates" as *;

.Messages {
  @include wh(80vw, 80vh);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: rem(120) 35% auto;

  &-LeftMenu {
    @include flex($direction: column, $align-items: center);
    padding: $componentPadding;
    height: inherit;
  }

  &-PrevChats {
    padding: $componentPadding;
    height: inherit;
    border-left: rem(1) solid var(--SOCIAL--Color-Text-System);
    border-right: rem(1) solid var(--SOCIAL--Color-Text-System);
  }

  &-CurrentChat {
    padding: $componentPadding;
    height: inherit;
  }

  &-SearchInput {
    padding: rem(5);
    background: var(--SOCIAL--Background-Chat-Message);
    border-radius: rem(5);
  }
}
