@import '../../../public/styles/lib/functions';
@import '../../../public/styles/lib/mixins';

.ButtonContentLoader {
  $this: &;
  position: relative;
  width: rem(26);
  height: rem(26);

  &-Ring {
    position: absolute;
    z-index: 2;

    display: block;

    box-sizing: border-box;
    width: rem(26);
    height: rem(26);

    animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

    border-width: rem(3);
    border-style: solid;
    border-color: var(--Color-Light--100) transparent transparent transparent;
    border-radius: 50%;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }

  &--color {

    &_blue {
      #{$this}-Ring {
        border-color: var(--Color-BluePrimrose--50) transparent transparent transparent;
      }
    }
  }
}

@keyframes ring {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
