@use "public/styles/lib/functions" as *;
@use "public/styles/lib/mixins" as *;
@use "public/styles/lib/templates" as *;

.AnimateOpenComments {
  @include flex($direction: column);
  @include wh(50%, 100%);
  overflow: hidden;
  padding: rem(10);

  @include media-768 {
    overflow: initial;
    height: auto;
    margin-left: 0;
    margin-top: rem(20);
    padding: 0;
  }
}

