@use 'public/styles/lib/functions' as *;
@use 'public/styles/lib/mixins' as * ;
@use 'public/styles/lib/templates' as * ;

.SectionContainer {
  &-Title {
    @include flex($align-items: center);
    gap: rem(20);
  }

  &-Calendar {
    @include flex($align-items: center);
    gap: rem(10);

    &Icon {
      @include flex($align-items: center, $justify: space-between);
      @include wh(rem(30), rem(30));
      padding: rem(3);
      padding-left: rem(7);
      border: rem(1) solid var(--Color-Background-Sub);
      border-radius: $border-radius-small;
    }
  }

  &-RadioInput {
    display: none;

    &:checked + label {
      background: #536989;
    }
  }

  &-RadioLabel {
    padding: rem(3) rem(14);
    color: white;
    background: #7d8ecd;

    cursor: pointer;
    transition: .5s;

    &:not(:last-of-type) {
      border-right: rem(1) solid transparent;
    }
  }
}
