@use "public/styles/lib/functions" as *;
@use "public/styles/lib/mixins" as *;
@use "public/styles/lib/templates" as *;

.AlbumCard {
  @extend %card;
  padding: rem(25);
  flex: 0 1 clamp(100px, 30%, 50%);

  &--dndActive {
    @extend %d_n_d__Active
  }

  &--active {
    //display: grid;
    //grid-auto-columns: revert;
    //grid-template-columns: repeat(3, 1fr);

    grid-column-end: 4;
    grid-column-start: 1;

    @include media-1024 {
      grid-column-end: 3;
      grid-column-start: 1;
    }
    @include media-768 {
      grid-column-end: 2;
      grid-column-start: 1;
    }
  }

  &-GoBack {
    @include flex($justify: space-between, $align-items: center);
    flex: 1 1 100%;
    margin-bottom: rem(20);
    fill: var(--SOCIAL--Color-Text-System);
  }

  &-Photos {
    display: grid;
    grid-auto-columns: revert;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(1px, 2vw, rem(40));

    @include media-1024 {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-768 {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &-Date {
    @extend %date_color
  }

  &-Title {
    text-transform: uppercase;
    color: var(--SOCIAL--Color-Text-Main);
    margin: rem(14) 0 rem(7) 0;
  }

  &-Description {
    color: var(--SOCIAL--Color-Text-System);
    @include textEllipsis;
    margin: rem(7) 0;
    font-style: italic;
    display: -webkit-box;
    height: 100%;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }

  &-ButtonsRow {
    display: flex;
    align-items: center;
    margin: rem(7) 0;
  }

  &-Button {
    display: flex;
    align-items: center;

    &[data-pointer-disable="true"] {
      pointer-events: none;
    }

    &:not(:first-child) {
      margin-left: rem(5);
    }
  }

  &-ButtonIcon {
  }

  &-ButtonText {
    color: var(--SOCIAL--Color-Text-System);
    margin-left: rem(5);
  }


  &-AuthorRow {
    display: flex;
    align-items: center;
    margin-top: rem(15);
    position: relative;
  }


  &-AuthorName {
    color: var(--SOCIAL--Color-Text-Main);
    margin-left: rem(5);
  }

  &-AuthorImg {
    width: rem(25);
    height: rem(25);
    position: relative;
    border-radius: 50%;
    overflow: hidden;
  }

  &-AuthorName {
    color: var(--SOCIAL--Color-Text-Main);
    justify-self: start;
    flex: 1 1 auto;
    margin-left: rem(10);
  }

}
