@use "public/styles/lib/functions" as *;
@use "public/styles/lib/mixins" as *;
@use "public/styles/lib/templates" as *;

.ProfileLayoutDigital {
  @include flex($direction: column);

  &-FiltersContainer {
    @include flex($justify: space-between, $align-items: center);
    margin: rem(15);
  }

  &-Photos {
    margin-top: clamp(1px, 1vh, rem(20));
    height: 80vh;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content;

    &--dndActive {
      @extend %d_n_d__Active
    }

    @include media-1366 {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-1024 {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &-FiltersRow {
  }
}
