@use 'public/styles/lib/functions' as *;
@use 'public/styles/lib/mixins' as * ;
@use 'public/styles/lib/templates' as * ;


.ButtonsList {
  @include flex($direction: column);
  flex: 1 1;
  gap: rem(10);
  margin-top: rem(50);

  &-Button {
    @include flex($align-items: center);
    width: 100%;
    padding: rem(20);
    gap: rem(20);
    color: var(--Color-Text-Main);
    fill: var(--Color-Background-icon);
    border-radius: $border-radius-element;
    transition: .5s;

    &--active {
      background: var(--Color-Text-Sub-1);
      color: var(--Color-Status-Offline);
      fill: var(--Color-Status-Offline);
    }

    &:not(&--active):hover {
      background: var(--Color-Background-Sub1);
      transition: .3s;
    }
  }

  &-ButtonText {
    margin-right: auto;
  }
}
