@use "public/styles/lib/functions" as *;
@use "public/styles/lib/mixins" as *;
@import "../App/App.module.scss";

.NavBar {
  display: grid;
  grid-area: navBar;
  background: var(--SOCIAL--Background-Card-Opacity);
  position: relative;

  &-Nav {
    display: flex;
    flex: 1 1 auto;

    & ul {
      padding: 0;
      margin: 0;
      display: grid;
      width: 100%;
      grid-auto-flow: column;

      & li {
        @include flex();
        list-style: none;

        & > * {
          @include flex($align-items: center, $justify: center, $direction: column);
          @include wh(100%, 100%);
          padding: 0 rem(5);
          margin: rem(5) 0;
        }
      }
    }
  }

  &-Icon {
    fill: var(--SOCIAL--Color-Text-System);

    &--active {
      fill: var(--SOCIAL--Color-Text-Main);
    }
  }

  &-Text {
    margin-left: rem(5);
    color: var(--SOCIAL--Color-Text-System);

    &--active {
      color: var(--SOCIAL--Color-Text-Main);
    }
  }

  &-Button {
    & > *:hover {
      background-color: transparent !important;
    }
  }
}
