@use "public/styles/lib/functions" as *;
@use "public/styles/lib/mixins" as *;
@import "../../../App/App.module.scss";

.ProfileLayoutAboutMe {
  @include flex($direction: column);
  @include wh(100%, 100%);
  overflow-y: auto;
  width: clamp(200px, 80%, 43.75rem);

  &-Description {
    color: var(--SOCIAL--Color-Text-Main);
    padding: rem(15) 0;
    margin: rem(10) 0;
  }
}
