@import '../../../public/styles/lib/functions';

.HoneycombMesh {
  position: relative;

  &-Row {
    display: flex;

    &--isFirstInside {
      transform: translate(rem(35), rem(23));
    }

    &--de {
      position: absolute;
      filter: opacity(1);
    }
  }
}
