@use "public/styles/lib/functions" as *;
@use "public/styles/lib/mixins" as *;
@use "public/styles/lib/templates" as *;

$textPadding: rem(5);
$sectionMarginTop: clamp(2px, 1vh, rem(10));

%info{
  @include flex($direction: column);
  background: var(--SOCIAL--Background-Card-Opacity-02);
  margin: rem(5);
}

.UserInfo {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: clamp(1px, 1vw, rem(25));

  &-Row {
    @include flex($justify: space-between, $align-items: center);
    padding: clamp(2px, 1vh, rem(10));
  }

  &-BaseInfo {
    @extend %info;
  }

  &-ProfessionalInfo {
    @extend %info;
  }

  &-Title {
    color: var(--SOCIAL--Color-Text-System);
    padding: $textPadding;
  }

  &-TitleMain {
    padding: clamp(2px, 1vh, rem(10));
    color: var(--SOCIAL--Color-Text-System);
  }

  &-Volume {
    color: var(--SOCIAL--Color-Text-Main);
    text-align: end;
    padding: $textPadding;
  }
}
