@import 'public/styles/lib/functions';
@import 'public/styles/lib/mixins';

.FileUpLoad {
  @include flex($align-items: center, $justify: center);
  flex: 1 1 auto;
  padding: rem(10);

  &-AddFile {
    &--disabled {
      pointer-events: none;
    }
  }

  &-FileInput {
    display: none;
  }

  &-Modal {
    @include wh(60vw, 60vh);
    @include flex($direction: column);
    background: var(--SOCIAL--Background-Card-Opacity-02);
  }

  &-ApplyAttachments {
    @include wh(100%, 100%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(rem(100), auto);
    gap: clamp(5px, 5vh, rem(10));
    overflow-y: auto;
    padding: rem(10);
  }

  &-ApplyImg {
    @include flex();
    padding: rem(5);
    background: var(--SOCIAL--Background-Card-Opacity);
  }

  &-ImgWrapper {
    @include wh(100%, 100%);
    position: relative;
  }

  &-Img {
    @include wh(100%, 100%);
    position: absolute;
    object-fit: contain;
  }

  &-CloseApply {
    fill: var(--SOCIAL--Color-Text-System);
  }
}
