@use "public/styles/lib/functions" as *;
@use "public/styles/lib/mixins" as *;
@use "public/styles/lib/templates" as *;

.Friend {
  @include flex($justify: space-between, $align-items: center);
  padding: $componentPadding;

  &--active {
    background: var(--SOCIAL--Color-Text-System);
    border-radius: $borderRadiusCard;
  }

  &-UserName {
    @include textEllipsis;
    width: clamp(100px, 12vw, rem(200)) !important;
    text-align: left;
  }

  &-CountMessage {
    @include flex($align-items: center)
  }

  &-CountMessageButton {
    @include flex($align-items: center);
    margin-left: rem(5);
    color: var(--SOCIAL--Color-Text-System);
    cursor: pointer;
    flex: 1 1;

    &--active {
      color: var(--SOCIAL--Color-Text-Main);
    }
  }

  &-CountMessageIcon {
    fill: var(--SOCIAL--Color-Text-System);
    margin-left: rem(5);
  }

}
